/* All common CSS files should start from here */
* {
    margin: 0;
    padding: 0;
}
/* All common CSS files should start from here */

.main {
    padding: 200px 0;
    width: 400px;
    background-color: #ff6347;
    color: #ffffff;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
    position: relative;
}

h1 {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1::before {
    height: 5px;
    width: 100px;
    background-color: #ffffff;
    position: absolute;
    content: "";
    top: 50%;
    left: -115px;
    transform: translateY(-50%);
}

h1::after {
    height: 5px;
    width: 100px;
    background-color: #ffffff;
    content: "";
    position: absolute;
    top: 50%;
    right: -115px;
    transform: translateY(-50%);
}

.top::before {
    height: 100px;
    width: 5px;
    background-color: #ffffff;
    position: absolute;
    content: "";
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.bottom::after {
    height: 100px;
    width: 5px;
    background-color: #ffffff;
    position: absolute;
    content: "";
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}